body{
    text-align: center;
}
#about{
    background-color: aliceblue;
}
#myCarousel
{
    background-color: pink;
}
.container h1
{
    font-family: 'Rubik Dirt', cursive;  
}
h1{
    font-family: 'Rubik Dirt', cursive;
}